<div class="bg-light">
  <div class="surface-section px-4 py-5 px-md-6 px-lg-8">
    <div class="flex align-items-start flex-column justify-lg-content-between flex-lg-row">
        <div>
            <div class="font-medium text-3xl text-900">Canal masivos</div>
            <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                    <span>Inicio</span>
                </div>
                <div class="mr-5 flex align-items-center mt-3">
                    <span>Canales</span>
                </div>
                <div class="flex align-items-center mt-3">
                    <span>Masivo</span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <div *ngIf="visible; then seguimiento else notificacion"></div>
  <ng-template #seguimiento class="surface-ground px-4 py-5 px-md-6 px-lg-8">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Seguimiento Mensajes</span>
                        <div class="pt-3">
                          <label for="telefono" class="block text-900 font-medium mb-2">Teléfono</label>
                          <input id="telefono" type="tel" pInputText class="w-full mb-3">
                  
                          <label for="mensaje" class="block text-900 font-medium mb-2">Mensaje</label>
                          <input id="mensaje" type="text" pInputText class="w-full mb-3" value="Se ha realizado la facturación del mes de marzo para su clave {v1} , su consumo es de {v2} kWh el monto a pagar es de Lps {v3} fecha máxima de pago {v4}.">
                  
                          <button class="btn btn-primary" (click)="verNotificacion()">Notificación</button>
                          <button class="btn btn-primary" (click)="generarFecha()">Fecha</button>
                          <button class="btn btn-primary" (click)="enviarMensaje()">Enviar mensaje</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Información Cliente</span>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Teléfono</th>
                              <th scope="col">Mensaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let per of personas">
                              <th>{{per.telefono}}</th>
                              <td>{{per.mensaje}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ng-template>
  
  <ng-template #notificacion class="surface-ground px-4 py-5 px-md-6 px-lg-8">
    <p>Tabla results</p>
    <button class="btn btn-primary" (click)="verSeguimiento()">Regresar a seguimiento de mensajes</button>
  </ng-template>
</div>